body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    margin-left:5% ;
    margin-right: 5%;

    background-image: url(vectorblue.jpg);
	background-size: cover;
	padding: 40px;
    text-align: center;
      
    color: rgb(14, 14, 206);
    box-shadow: 0 0 15px 0px #000;
    clip-path: inset(0px -15px 0px -15px);
    position: relative;
    margin: 0 50px;


}

ul li{
    cursor: pointer;
    transition: 0.2s;

}

ul li:nth-child(odd) {
    background: #4af7cc7c;
  }

ul li:nth-child(even) {
    background: #0876977c;
  }

ul li:hover {
    background: lightgray;
}

input{
    width: 60%;

}

button{
    width: 30%;
}

#elementos-list
{
    margin-top: 10px;
}